[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
matplotlib = "*"
numpy = "*"
opencv-python = "*"
sc2 = {editable = true,version = "*"}

[requires]
python_version = "3.7"
